$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


// Colores
$orange:#F16718;
$beige_hover:#FF9B62;
$light_grey:#E8EFF2;
$black_hover:#162542;
$grey:#7B8BAD;


// Tipografía
$primary-font:"Barlow", sans-serif;

