* {
    font-family: $primary-font;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




// body{
//     background-image:url(../../img/mobile/keyboard_hero_mobile.png);
//     background-repeat: no-repeat;
//     background-position: 100% 600%;
//     background-size: 90%;
// }
    
// body {
//     background-image: url(../../img/mobile/keyboard_hero_mobile.png);
//     background-repeat: no-repeat;
//     background-position: 120% 60%;
//     background-size: 395px;
// }