header{
    div.container {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 23px;
        margin-bottom: 64px ;
        display: flex;
        justify-content: space-between;
        min-width: 327px;
        @include breakpoint(tablet){
            margin-left: 39px;
            margin-right: 39px;
            margin-top: 40px;
        }

        @include breakpoint(tablethorizontal){
            margin-left: 59px;
            margin-right: 59px;
            margin-top: 49px;
        }


        ul li{
            list-style: none;
            a.container__button{
                @include button;
                font-weight: 700;
            }
        }
    }
}
