.container__imgs{
    margin-bottom: 75px;
    figure{
        display: flex;
        justify-content:left;
        column-gap: 24px;
    }
    @include breakpoint(tablet){
        display: flex;
        justify-content: center;

    }
}