main {
    div.container{
        margin-left: 24px;
        margin-right: 24px;
        height: 350px;
        min-width: 327px;
        @include breakpoint(tablet){
            margin-left: 0;
        }
        section.main__hero{
            margin-bottom: 15%;
            .main__h1{
                font-size: 48px;
                line-height: 48px;
                font-weight: 900;
                text-transform: uppercase;
                color: $black_hover;
                margin-bottom: 10%;
            }
            .main__description{
                color:$grey;
                line-height: 26px;
                font-weight: 500;
                margin-bottom: 10%;
            }
            .ul__container{
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 5px;
                .main__subcontainer-button{
                    @include button($orange,white);
                }
                .main__subcontainer-li{
                    color: $grey;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding-right: 42px;
                }
            }
        }
    }
}