.container__articles{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 64px;
    min-width: 327px;
    margin-left: 24px;
    margin-right: 24px;
    min-width: 327px;

    @include breakpoint(tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        text-align: left;
        margin-left: 39px;
        margin-right: 40px;
        margin-top: 120px;

    }
    
    .article{
        &-img{
            margin-bottom: 48px;
        }
        &-title{
            margin-bottom: 24px;
            font-size: 24px;
            font-weight: 800;
            color: $black_hover;
            span {
                display: block;
                text-align: center;
                @include breakpoint(tablet){
                    text-align: left;

                }
            }
        }
        &-description{
            line-height: 26px;
            color: $grey;
            min-width: 327px;
            @include breakpoint(tablet){
                min-width: 281px;
            }

        }
    }
}